<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>Register</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="First Name"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" placeholder="Last Name"></ion-input>
        </ion-item>
        
        <ion-item>
					<ion-input type="password" placeholder="Email"></ion-input>
        </ion-item>
        
        <ion-item>
					<ion-input type="password" placeholder="Password"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button color="primary" size="large" href="/touchid" expand="block">Register</ion-button>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
